<div class="relative flex w-full max-w-[20rem] flex-col rounded-xl bg-gradient-to-tr from-pink-600 to-pink-400 bg-clip-border p-8 text-white shadow-md shadow-pink-500/40">
  <div>

  </div>
  <div class="relative m-0 mb-8 overflow-hidden rounded-none border-b border-white/10 bg-transparent bg-clip-border pb-8 text-center text-gray-700 shadow-none">
    <p class="block font-sans text-sm font-normal uppercase leading-normal text-white antialiased">
      Thermostat
    </p>
    <button (click)="toggleMeasurement()"
      data-ripple-light="true"
      data-tooltip-target="tooltip-top"
      class="middle none center m-2 rounded-lg bg-gradient-to-tr from-pink-600 to-pink-400 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
      {{ measurement() === 'C' ? 'Celsius' : 'Fahrenheit'}}
    </button>
    <h1 *ngIf="measurement() === 'C'" class="mt-6 flex justify-center gap-1 font-sans text-7xl font-normal tracking-normal text-white antialiased">
      {{ temperature() }}
      <span class="self-end text-4xl">C</span>
    </h1>
    <h1 *ngIf="measurement() === 'F'" class="mt-6 flex justify-center gap-1 font-sans text-7xl font-normal tracking-normal text-white antialiased">
      {{ temperatureF() }}
      <span class="self-end text-4xl">F</span>
    </h1>
  </div>
  <div class="p-0">
    <ul class="flex flex-col gap-4">
      <li *ngIf="measurement() !== 'C'" class="flex items-center justify-center gap-4">
        <p class="block font-sans text-base font-normal leading-relaxed text-center text-inherit antialiased">
          {{ temperature() | number: '1.00' }} Celsius
        </p>
      </li>
      <li *ngIf="measurement() !== 'F'" class="flex items-center justify-center gap-4">
        <p class="block font-sans text-base font-normal leading-relaxed text-center text-inherit antialiased">
          {{ temperatureF() | number: '1.00' }} Fahrenheit
        </p>
      </li>
      <li class="flex items-center justify-center gap-4">
        <p class="block font-sans text-base font-normal leading-relaxed text-center text-inherit antialiased">
          {{ feeling() }}
        </p>
      </li>
    </ul>
  </div>
  <div class="mt-12 p-0 flex space-x-2">
    <button (click)="onDecrease()"
      class="block w-full select-none rounded-lg bg-white py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-pink-500 shadow-md shadow-blue-gray-500/10 transition-all hover:scale-[1.02] hover:shadow-lg hover:shadow-blue-gray-500/20 focus:scale-[1.02] focus:opacity-[0.85] focus:shadow-none active:scale-100 active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
      data-ripple-dark="true"
    >
      -
    </button>
    <button (click)="onIncrease()"
      class="block w-full select-none rounded-lg bg-white py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-pink-500 shadow-md shadow-blue-gray-500/10 transition-all hover:scale-[1.02] hover:shadow-lg hover:shadow-blue-gray-500/20 focus:scale-[1.02] focus:opacity-[0.85] focus:shadow-none active:scale-100 active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
      data-ripple-dark="true"
    >
      +
    </button>
  </div>
</div>
